<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="card">
                <div class="header">
                    <h2 class="card-inside-title">
                        <span>{{l("PhoneBook")}}</span>
                    </h2>
                </div>
                <div class="body">
                    <p>PHONE BOOK CONTENT COMES HERE!</p>
                </div>
            </div>
<!--            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{l("PhoneBook")}}</span>
                    </h1>
                </div>
            </div>-->
        </div>
    </div>

<!--    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">

            

        </div>
    </div>-->
</div>
